/**
 * MoneyDesktop theme for reveal.js.
 *
 */

@import url(http://fonts.googleapis.com/css?family=Signika);

/*********************************************
 * GLOBAL STYLES
 *********************************************/
html {
  background-image: url(/images/low_contrast_linen.png);
}

.md-logo {
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 100px;
  width: 120px;
  background: url(/images/md.png) no-repeat;
}

.reveal {
  font-family: 'Signika', sans-serif;
  font-size: 36px;
  line-height: 1.2em;
  letter-spacing: -0.02em;
  color: #eeeeee;
}

.reveal pre code {
  padding: 0.5em;
  background-color: #222;
  border-radius: 10px;
  margin-top: 1em;
  box-shadow: inset 2px 2px 0.5em rgba(0, 0, 0, 0.2);
}

::selection {
  color: white;
  background: #BF311A;
  text-shadow: none;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 40px 0;
  color: #eeeeee;
  font-weight: bold;
  line-height: 1em;
  text-shadow: 0 1px 0 #777, 0 2px 0 #777, 0 3px 0 #777, 0 4px 0 #888, 0 5px 0 #888, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.15);
}

.reveal h1 {
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.15);
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #8dc63f;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease;
}

.reveal a:not(.image):hover {
  color: #8dc63f;
  text-shadow: none;
  border: none;
  border-radius: 2px;
}

.reveal .roll span:after {
  color: #fff;
  background: #8dc63f;
}

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px;
  background: transparent;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.reveal a:hover img {
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.left,
.reveal .controls div.left.enabled {
  border-right-color: #8dc63f;
}

.reveal .controls div.right,
.reveal .controls div.right.enabled {
  border-left-color: #8dc63f;
}

.reveal .controls div.up,
.reveal .controls div.up.enabled {
  border-bottom-color: #8dc63f;
}

.reveal .controls div.down,
.reveal .controls div.down.enabled {
  border-top-color: #8dc63f;
}

.reveal .controls div.left.enabled:hover {
  border-right-color: #a1d45b;
}

.reveal .controls div.right.enabled:hover {
  border-left-color: #a1d45b;
}

.reveal .controls div.up.enabled:hover {
  border-bottom-color: #a1d45b;
}

.reveal .controls div.down.enabled:hover {
  border-top-color: #a1d45b;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  height: 5px;
}

.reveal .progress span {
  background: #8dc63f;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
     -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
      -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
       -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
          transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}
